#form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black
}



@media (min-width: 600px){
    body{
        background-color: rgba(255, 255, 255, 0.836);
    }
}

@media (max-width: 599px){
    body{
        background-color: rgb(193, 231, 248);
    }
}

#input1{
    height: 40px;
    width: 75vh;
    border-radius: 20px;
    margin-top: 5vh;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent(128, 125, 125, 0.603);
    border-width: 0.2vh;
    margin-left: auto;
    margin-right: auto;
}

#input1::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: start;
    color:rgb(105, 105, 105);
}

#submit1{
    
    border-radius: 20px;
    border-color: transparent;
    padding: 10px;
    margin-top: 5%;
    margin-left: 30vh;
    width: 20vh;
    font-size: 15px;
    background-color: rgba(224, 218, 218, 0.562);
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    
}

#submit1:hover{
    align-items: center;
    border-radius: 20px;
    margin-top: 5%;
    
    padding: 10px;
    font-size: 15px;
    background-color:rgba(134, 133, 133, 0.24);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#links1{
    position: fixed;
    top: 0;
    right: 0;
    margin: 2%;

}

#links1 a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

img{
    height: 30vh;
    width: 75vh;
}

#google{
    height: 50vh;
    width: 75vh; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#bottom{
    background-color: antiquewhite;
    height: 25vh;
    width: auto;
}